<div class="flex flex-col items-center mt-16">
  <button
    routerLink="/"
    class="flex items-center bg-blue-500 text-white px-5 py-2 rounded-md hover:bg-blue-600 absolute top-10 left-10"
  >
    <mat-icon>arrow_back</mat-icon> Home
  </button>
  <button
    [ngClass]="whichTickets === 'oldTickets' ? 'currentBtn' : 'historyBtn'"
    (click)="toggleWhichTickets()"
    class="flex items-center text-white px-5 py-2 rounded-md absolute top-10 right-10"
  >
    <mat-icon *ngIf="whichTickets === 'pendingTickets'" class="mr-1"
      >history</mat-icon
    >
    <mat-icon *ngIf="whichTickets === 'oldTickets'" class="mr-1"
      >open_in_browser</mat-icon
    >
    {{ whichTickets === "oldTickets" ? "Current" : "History" }}
  </button>
  <p class="font-medium">
    {{ whichTickets === "pendingTickets" ? "Current Tickets" : "Old Tickets" }}
  </p>
  <p class="mt-12" *ngIf="isFetching">Loading...</p>
  <p class="mt-12" *ngIf="!isFetching && !tickets[whichTickets].length">
    You don't have any tickets!
  </p>
  <div *ngIf="tickets[whichTickets].length" class="w-full">
    <div
      *ngFor="let ticket of tickets[whichTickets]"
      class="shadow-lg lg:w-[50%] sm:w-[70%] py-8 pl-3 mx-auto rounded-md flex justify-around"
    >
      <div class="w-[30%] flex items-center">
        <mat-icon>airplanemode_active</mat-icon>
        <p class="font-medium">
          {{ ticket?.record?.airplane?.company | titlecase }}
        </p>
      </div>
      <div class="relative w-[30%]">
        <p class="font-medium">
          {{ ticket?.flightRecordId?.flightId?.departure | titlecase }}
        </p>
        <p>{{ ticket?.flightRecordId?.flightId?.departureTime }}</p>
        <p
          class="absolute lg:right-10 sm:-right-0 top-0 text-[14px] text-gray-600"
        >
          {{ ticket?.flightRecordId?.flightId?.flightDuration }}
        </p>
        <div
          class="w-[100px] h-[2px] bg-black absolute top-5 lg:right-5 sm:-right-5"
        ></div>
        <p class="mt-1 ml-[50%]">
          {{ ticket?.flightRecordId?.flightDay | date: "mediumDate" }}
        </p>
      </div>
      <div class="w-[10%]">
        <p class="font-medium">
          {{ ticket?.flightRecordId?.flightId?.destination | titlecase }}
        </p>
        <p>{{ ticket?.flightRecordId?.flightId?.arrivalTime }}</p>
      </div>
      <div class="flex flex-col w-[20%] pr-3 relative">
        <p class="font-medium">Class : {{ ticket?.ticketClass | titlecase }}</p>
        <p class="font-medium">Price : {{ ticket?.price }}$</p>

        <button
          *ngIf="whichTickets === 'pendingTickets'"
          [disabled]="isReturnAvailable(ticket)"
          (click)="handleTicketReturn(ticket)"
          class="text-white rounded-md px-7 py-2 bg-red-500 hover:bg-red-600 absolute -right-40 top-1/2 -translate-y-1/2 disabled:opacity-50"
        >
          Return Ticket
        </button>
      </div>
    </div>
  </div>
</div>
<app-modal
  *ngIf="isModalShown"
  modalText="Are you sure you want to return ticket?"
></app-modal>
