<app-header></app-header>
<div class="flex justify-center">
  <app-search-form></app-search-form>
</div>

<div>
  <p class="flex justify-center" *ngIf="isFetching">Loading...</p>
  <p class="flex justify-center" *ngIf="!isFetching && !flightRecords.length">
    No Flights!
  </p>

  <app-flight-card
    *ngFor="let flightRecord of flightRecords"
    [flightRecord]="flightRecord"
  ></app-flight-card>
</div>
<div class="ml-10" *ngIf="!isFetching">
  <p *ngIf="flightRecords.length" class="mb-4">Airlanes</p>
  <div *ngFor="let flightRecord of flightService.flightRecords">
    <input
      checked
      (input)="handleCheckbox($event)"
      [value]="flightRecord.airplaneId.company"
      type="checkbox"
    />
    <label class="ml-2">{{
      flightRecord.airplaneId.company | titlecase
    }}</label>
  </div>
</div>
