<app-header></app-header>
<div class="flex justify-center">
  <app-search-form></app-search-form>
</div>

<div class="h-fit pb-5 overflow-y-auto">
  <div class="ml-10" *ngIf="flightRecords?.records?.length">
    <p *ngIf="flightRecords?.records?.length" class="mb-4">Airlanes</p>
    <div *ngFor="let company of companies">
      <input
        checked
        (input)="handleCheckbox($event)"
        [value]="company"
        type="checkbox"
      />
      <label class="ml-2">{{ company | titlecase }}</label>
    </div>
  </div>

  <div>
    <p class="flex justify-center" *ngIf="isFetching">Loading...</p>
    <p
      class="flex justify-center"
      *ngIf="!isFetching && !flightRecords?.records?.length"
    >
      No Flights!
    </p>

    <app-flight-card
      *ngFor="let flightRecord of flightRecords?.records"
      [flightRecord]="flightRecord"
    ></app-flight-card>
  </div>
</div>
