<form class="flex overflow-clip items-center bg-white h-36">
  <div>
    <input
      (blur)="filteredLocations = []"
      (input)="handleLocationChange($event)"
      class="py-2 pl-1"
      type="text"
      placeholder="Where from?"
    />
  </div>
  <div class="relative">
    <input
      (blur)="filteredLocations = []"
      (input)="handleLocationChange($event)"
      class="py-2 pl-1"
      type="text"
      placeholder="Where to?"
    />
  </div>
  <div class="absolute -bottom-10">
    <ul>
      <li *ngFor="let location of filteredLocations; trackBy: trackBy">
        {{ location.city }}
      </li>
    </ul>
  </div>
  <div>
    <input
      class="py-2 pl-1"
      #departureInput
      type="text"
      placeholder="Departure"
      (focus)="handleInputFocus(departureInput)"
      (blur)="handleInputBlur(departureInput)"
      [min]="minDate"
    />
  </div>
  <div>
    <input
      class="py-2 pl-1"
      #returnInput
      type="text"
      placeholder="Return"
      (focus)="handleInputFocus(returnInput)"
      (blur)="handleInputBlur(returnInput)"
      [min]="minDate"
    />
  </div>
  <button
    class="py-2 px-4 bg-blue-600 text-white hover:bg-blue-700"
    type="submit"
  >
    Search Flights
  </button>
</form>
