<form
  (click)="hideTypeAhead($event)"
  (ngSubmit)="handleFlightFormSubmit()"
  [formGroup]="flightForm"
  class="flex items-center bg-white h-36 rounded-md px-16"
>
  <div class="relative">
    <input
      (input)="handleLocationChange($event, 'departure')"
      class="py-2 pl-1 border-[1px]"
      type="text"
      placeholder="Where from?"
      formControlName="departure"
    />
    <div
      *ngIf="filtersType === 'departure' && filteredLocations.length > 0"
      class="absolute top-14 px-8 py-6 rounder-md shadow-md bg-white max-h-[350px] overflow-y-auto"
    >
      <ul class="space-y-8">
        <li
          (click)="handleLocationClick(location)"
          class="cursor-pointer hover:bg-gray-100 px-2 py-3 z-10"
          *ngFor="let location of filteredLocations; trackBy: trackBy"
        >
          {{ location.city | titlecase }},<span class="ml-2 text-gray-400">{{
            location.country | titlecase
          }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="relative">
    <input
      (input)="handleLocationChange($event, 'destination')"
      class="py-2 pl-1 border-[1px]"
      type="text"
      placeholder="Where to?"
      formControlName="destination"
    />
    <div
      *ngIf="filtersType === 'destination' && filteredLocations.length > 0"
      class="absolute top-14 px-4 py-6 rounder-md shadow-md max-h-[350px] overflow-y-auto bg-white"
    >
      <ul class="space-y-8">
        <li
          (click)="handleLocationClick(location)"
          class="cursor-pointer hover:bg-gray-100 px-2 py-3"
          *ngFor="let location of filteredLocations; trackBy: trackBy"
        >
          {{ location.city | titlecase }},<span class="ml-2 text-gray-400">{{
            location.country | titlecase
          }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <input
      class="py-2 pl-1 border-[1px]"
      #departureInput
      type="text"
      placeholder="Departure range"
      (focus)="handleInputFocus(departureInput)"
      (blur)="handleInputBlur(departureInput)"
      [min]="minDate"
      formControlName="departureTime"
    />
  </div>
  <div>
    <input
      class="py-2 pl-1 border-[1px]"
      #returnInput
      type="text"
      placeholder="Departure range"
      (focus)="handleInputFocus(returnInput)"
      (blur)="handleInputBlur(returnInput)"
      [min]="minDate"
      formControlName="departureEnd"
    />
  </div>
  <button
    class="w-40 py-2 ml-4 rounded-md bg-blue-600 text-white hover:bg-blue-700"
    type="submit"
  >
    Search Flights
  </button>
</form>
