<div
  class="shadow-lg lg:w-[50%] sm:w-[70%] py-8 pl-3 mx-auto rounded-md flex justify-around"
>
  <div class="w-[30%] flex items-center">
    <mat-icon>airplanemode_active</mat-icon>
    <p>{{ ticket?.record?.airplane?.company | titlecase }}</p>
  </div>
  <div class="relative w-[30%]">
    <p>{{ ticket?.record?.flight?.departure | titlecase }}</p>
    <p>{{ ticket?.record?.flight?.departureTime }}</p>
    <p class="absolute lg:right-10 sm:-right-0 top-0 text-[14px] text-gray-600">
      {{ ticket?.record?.flight?.flightDuration }}
    </p>
    <div
      class="w-[100px] h-[2px] bg-black absolute top-5 lg:right-5 sm:-right-5"
    ></div>
    <p class="mt-1 ml-[50%]">
      {{ ticket?.record?.flightDay | date: "mediumDate" }}
    </p>
  </div>
  <div class="w-[10%]">
    <p>{{ ticket?.record?.flight?.destination | titlecase }}</p>
    <p>{{ ticket?.record?.flight?.arrivalTime }}</p>
  </div>
  <div class="flex flex-col w-[20%] pr-3 relative">
    <p class="font-medium">{{ ticket?.ticketClass | titlecase }}</p>
    <p class="font-medium">{{ ticket?.price }}$</p>
    <p class="font-medium">Available - {{ ticket?.available }}</p>

    <button
      (click)="handleBookClick(ticket.record._id, ticket.ticketClass)"
      class="text-white rounded-md px-7 py-2 bg-blue-500 hover:bg-blue-600 absolute -right-40 top-1/2 -translate-y-1/2"
    >
      Book Ticket
    </button>
  </div>
</div>

<div *ngIf="isBookingFormShown">
  <div class="bg-[rgba(0,0,0,0.3)] fixed top-0 bottom-0 right-0 left-0"></div>
  <div
    class="flex flex-col space-y-4 items-center justify-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-gray-200 w-96 h-fit z-20 rounded-md shadow-lg py-7"
  >
    <mat-icon
      (click)="closeBookingForm()"
      class="absolute right-0 top-0 cursor-pointer"
      >close</mat-icon
    >
    <mat-icon
      (click)="handleBackClick()"
      *ngIf="isAmountSelected"
      class="absolute left-0 -top-4 cursor-pointer"
      >arrow_back</mat-icon
    >
    <p *ngIf="isAmountError" class="text-red-500">
      This amount of tickets is not available
    </p>
    <div *ngIf="!isAmountSelected" class="flex flex-col w-[70%]">
      <label class="font-medium">Select number of tickets to book</label>
      <p class="font-medium">Available - {{ ticket.available }}</p>
      <input
        [(ngModel)]="numberOfTickets"
        name="numberOfTickets"
        type="number"
        class="pl-1 border-[1px] border-black outline-0 mt-2"
      />
    </div>

    <p *ngIf="isAmountSelected" class="my-2 font-medium">
      You selected {{ numberOfTickets }}
      {{ numberOfTickets === 1 ? "ticket" : "tickets" }}
    </p>
    <div
      *ngFor="let num of numOfSequence(numberOfTickets); let index = index"
      class="w-full flex flex-col items-center space-y-3"
    >
      <p *ngIf="isAmountSelected">Ticket {{ index + 1 }}</p>
      <div *ngIf="isAmountSelected" class="flex flex-col w-[70%]">
        <label class="font-medium">Firstname</label>
        <input
          [(ngModel)]="userData[index]['firstname']"
          name="firstname"
          type="text"
          placeholder="Enter your firstname"
          class="border-[1px] border-black outline-0 mt-2 pl-1"
        />
      </div>
      <div *ngIf="isAmountSelected" class="flex flex-col w-[70%]">
        <label class="font-medium">Lastname</label>
        <input
          [(ngModel)]="userData[index]['lastname']"
          name="lastname"
          type="text"
          placeholder="Enter your lastname"
          class="border-[1px] border-black outline-0 mt-2 pl-1"
        />
      </div>
    </div>

    <div class="space-x-6 my-2">
      <button
        type="button"
        (click)="closeBookingForm()"
        class="bg-red-500 hover:bg-red-600 px-5 py-2 rounded-sm"
      >
        Cancel
      </button>
      <button
        (click)="isAmountSelected ? handleTicketBook() : handleNextClick()"
        type="submit"
        class="bg-blue-500 hover:bg-blue-600 px-5 py-2 rounded-sm"
      >
        {{ isAmountSelected ? "Book" : "Next" }}
      </button>
    </div>
  </div>
</div>
