<div
  class="shadow-lg lg:w-[50%] sm:w-[70%] py-8 pl-3 mx-auto rounded-md flex justify-around"
>
  <div>
    <mat-icon>airplanemode_active</mat-icon>
    <p>{{ flightRecord.airplaneId.company | titlecase }}</p>
  </div>
  <div class="relative">
    <p>{{ flightRecord.flightId.departure | titlecase }}</p>
    <p class="absolute lg:-right-5 sm:-right-0 top-0 text-[14px] text-gray-600">
      {{ flightRecord.flightDuration }}
    </p>
    <div
      class="w-[100px] h-[2px] bg-black absolute top-5 lg:-right-10 sm:-right-5"
    ></div>
    <p>{{ flightRecord.departureTime | date: "medium" }}</p>
  </div>
  <div>
    <p>{{ flightRecord.flightId.destination | titlecase }}</p>
    <p>{{ flightRecord.arrivalTime | date: "medium" }}</p>
  </div>
</div>
