<form
  (ngSubmit)="handleFlightFormSubmit()"
  [formGroup]="flightForm"
  class="flex justify-center flex-col items-center py-5 w-full"
>
  <p class="mb-5 font-medium">
    {{ editingFlight === null ? "Add" : "Edit" }} Flight
  </p>
  <div class="flex flex-col w-[50%]">
    <label for="departure" class="font-medium">Departure</label>
    <input
      formControlName="departure"
      id="departure"
      type="text"
      class="mt-2 outline-0 border-[1px] border-gray-400 rounded-sm pl-1"
    />
  </div>
  <div class="flex flex-col mt-6 w-[50%]">
    <label for="destination" class="font-medium">Destination</label>
    <input
      formControlName="destination"
      id="destination"
      type="text"
      class="mt-2 outline-0 border-[1px] border-gray-400 rounded-sm pl-1"
    />
  </div>
  <div class="flex flex-col mt-6 w-[50%]">
    <label for="departureTime" class="font-medium">Departure Time</label>
    <input
      formControlName="departureTime"
      id="departureTime"
      type="time"
      class="mt-2 outline-0 border-[1px] border-gray-400 rounded-sm pl-1"
    />
  </div>
  <div class="flex flex-col mt-6 w-[50%]">
    <label for="arrivalTime" class="font-medium">Arrival Time</label>
    <input
      formControlName="arrivalTime"
      id="arrivalTime"
      type="time"
      class="mt-2 outline-0 border-[1px] border-gray-400 rounded-sm pl-1"
    />
  </div>
  <button
    [disabled]="flightForm.invalid"
    class="mt-4 bg-blue-400 hover:bg-blue-500 px-3 py-2 rounded-sm disabled:opacity-40"
    type="submit"
  >
    Submit
  </button>
</form>
