<div class="flex flex-col items-center">
  <p class="mt-6 mb-10 font-medium">
    {{ adminService.editingRecord ? "Edit" : "Add" }} Flight Record
  </p>
  <form
    (ngSubmit)="handleFlightRecordSubmit()"
    [formGroup]="flightRecordForm"
    class="flex flex-col space-y-6"
  >
    <div class="flex flex-col">
      <label class="font-medium" for="airplanes">Airline</label>
      <select
        formControlName="airline"
        id="airplanes"
        class="border-[1px] mt-2 py-1 border-gray-400 rounded-sm outline-0 pl-1"
      >
        <option value="" disabled selected>Choose airline...</option>
        <option *ngFor="let airplane of airplanes" [value]="airplane.company">
          {{ airplane.company | titlecase }}
        </option>
      </select>
    </div>
    <div class="flex flex-col">
      <label class="font-medium" for="departureTime">Departure time</label>
      <input
        id="departureTime"
        class="border-[1px] mt-2 py-1 border-gray-400 rounded-sm outline-0 pl-1"
        type="datetime-local"
        formControlName="departureTime"
      />
    </div>
    <div class="flex flex-col">
      <label class="font-medium" for="arrivalTime">Arrival time</label>
      <input
        id="arrivalTime"
        class="border-[1px] mt-2 py-1 border-gray-400 rounded-sm outline-0 pl-1"
        type="datetime-local"
        formControlName="arrivalTime"
      />
    </div>
    <button
      [disabled]="flightRecordForm.invalid"
      class="bg-blue-400 py-2 rounded-sm hover:bg-blue-500 disabled:opacity-40"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
