<div class="flex flex-col items-center mt-16 space-y-14 relative">
  <p *ngIf="isFetching">Loading...</p>
  <div
    *ngFor="let flight of flights"
    class="w-[60%] flex justify-around shadow-md py-5 items-center"
  >
    <div class="flex space-x-4">
      <p class="font-medium">{{ flight.departure | titlecase }}</p>
      <mat-icon>arrow_right_alt</mat-icon>
      <p class="font-medium">{{ flight.destination | titlecase }}</p>
    </div>
    <div class="flex items-center">
      <mat-icon class="mr-2 text-blue-500 cursor-pointer">edit</mat-icon>
      <mat-icon
        (click)="handleDeleteFlight(flight._id)"
        class="mr-2 text-red-600 cursor-pointer"
        >delete</mat-icon
      >
      <button
        (click)="openRecordForm(flight._id)"
        class="bg-blue-400 hover:bg-blue-500 rounded-md py-3 px-3"
      >
        Add Record
      </button>
    </div>
  </div>
  <div
    class="absoulte top-1/2 left-1/2 bg-gray-100 -translate-y-[60%] shadow-xl z-10 w-[500px] pb-5"
    *ngIf="isRecordFormShown"
  >
    <mat-icon
      (click)="closeRecordForm()"
      class="absolute right-0 cursor-pointer"
      >close</mat-icon
    >
    <app-flight-record></app-flight-record>
  </div>
  <button
    (click)="openFlightForm()"
    class="bg-blue-400 hover:bg-blue-500 py-2 px-5 rounded-md absolute right-10 -top-20"
  >
    Add Flight
  </button>
  <div
    *ngIf="isFlightFormShown"
    class="absolute top-1/2 left-1/2 bg-gray-100 -translate-x-1/2 -translate-y-1/2 shadow-2xl z-20 w-[400px] pb-5"
  >
    <mat-icon
      (click)="closeFlightForm()"
      class="absolute right-0 cursor-pointer"
      >close</mat-icon
    >
    <app-flight-form></app-flight-form>
  </div>
</div>
