<div class="flex flex-col items-center mt-16 relative">
  <p *ngIf="isFetching">Loading...</p>
  <p *ngIf="!isFetching && !flightRecords.records.length">No Records</p>

  <div *ngIf="!isFetching" class="flex space-x-3 mb-3 mt-3">
    <div class="relative">
      <input
        [(ngModel)]="departureCity"
        (input)="handleLocationChange($event, 'departure')"
        class="border-[1px] border-black outline-0 w-40 pl-1 py-2"
        type="text"
        placeholder="Departure"
      />
      <div
        *ngIf="filteredLocations.length && locationFor === 'departure'"
        class="absolute z-20 shadow-xl w-40 py-4 pl-2 bg-gray-200 rounded-md max-h-60 overflow-y-scroll"
      >
        <ul class="space-y-4">
          <li
            (click)="handleLocationClick(location.city)"
            class="cursor-pointer hover:bg-gray-500 h-8 w-[90%]"
            *ngFor="let location of filteredLocations"
          >
            {{ location.city }}
          </li>
        </ul>
      </div>
    </div>
    <div class="relative">
      <input
        [(ngModel)]="destinationCity"
        (input)="handleLocationChange($event, 'destination')"
        class="border-[1px] border-black outline-0 w-40 pl-1 py-2"
        type="text"
        placeholder="Destination"
      />
      <div
        *ngIf="filteredLocations.length && locationFor === 'destination'"
        class="absolute z-20 shadow-xl w-40 py-4 pl-2 bg-gray-200 max-h-60 overflow-y-scroll"
      >
        <ul class="space-y-4">
          <li
            (click)="handleLocationClick(location.city)"
            class="cursor-pointer hover:bg-gray-500 h-8 w-[90%]"
            *ngFor="let location of filteredLocations"
          >
            {{ location.city }}
          </li>
        </ul>
      </div>
    </div>
    <div>
      <input
        [(ngModel)]="departureStart"
        type="date"
        placeholder="Date from"
        class="border-[1px] border-black outline-0 py-[7px]"
      />
    </div>
    <div>
      <input
        [(ngModel)]="departureEnd"
        type="date"
        placeholder="Date from"
        class="border-[1px] border-black outline-0 py-[7px]"
      />
    </div>
    <button
      (click)="handleRecordsFilter()"
      class="bg-blue-500 hover:bg-blue-600 px-8 py-2 rounded-md"
    >
      Filter
    </button>
  </div>

  <div
    class="w-full flex relative"
    *ngFor="let flightRecord of flightRecords?.records; trackBy: trackBy"
  >
    <div class="w-full">
      <div
        class="shadow-lg lg:w-[50%] sm:w-[70%] py-8 pl-3 mx-auto rounded-md flex justify-around"
      >
        <div class="w-[30%] flex items-center">
          <mat-icon>airplanemode_active</mat-icon>
          <p>{{ flightRecord.airplaneId?.company | titlecase }}</p>
        </div>
        <div class="relative w-[30%]">
          <p>{{ flightRecord.flightId?.departure | titlecase }}</p>
          <p>{{ flightRecord?.flightId?.departureTime }}</p>
          <p
            class="absolute lg:right-10 sm:-right-0 top-0 text-[14px] text-gray-600"
          >
            {{ flightRecord?.flightId?.flightDuration }}
          </p>
          <div
            class="w-[100px] h-[2px] bg-black absolute top-5 lg:right-5 sm:-right-5"
          ></div>
          <p class="mt-1 ml-[50%]">
            {{ flightRecord?.flightDay | date: "mediumDate" }}
          </p>
        </div>
        <div class="w-[10%]">
          <p>
            {{ flightRecord?.flightId?.destination | titlecase }}
          </p>
          <p>{{ flightRecord?.flightId?.arrivalTime }}</p>
        </div>
        <div>
          <button
            (click)="navigateToTickets(flightRecord._id)"
            class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-sm"
          >
            Show Tickets
          </button>
        </div>
      </div>
      <div class="w-[10%] absolute right-20 top-1/2 space-x-4">
        <mat-icon
          (click)="handleEditRecord(flightRecord)"
          class="text-blue-500 cursor-pointer"
          >edit</mat-icon
        >
        <mat-icon
          (click)="handleDeleteRecord(flightRecord)"
          class="text-red-500 cursor-pointer"
          >delete</mat-icon
        >
      </div>
    </div>
  </div>

  <div *ngIf="isRecordFormShown" class="absolute z-20 bg-gray-200 px-24 pb-8">
    <mat-icon
      (click)="closeRecordForm()"
      class="absolute right-0 cursor-pointer top-0"
      >close</mat-icon
    >
    <app-flight-record></app-flight-record>
  </div>

  <div *ngIf="!isFetching" class="my-12 w-[50%] flex justify-center">
    <app-paginator
      paginatorFor="records"
      [total]="flightRecords.total"
      [perPage]="5"
    ></app-paginator>
  </div>
</div>
