<aside
  [ngClass]="{ sidebar: isSideBarClosed }"
  class="h-screen border-r-[1px] border-black w-[250px] pt-8 pl-5 fixed z-20"
>
  <mat-icon class="cursor-pointer" (click)="handleSideBarToggle()"
    >menu</mat-icon
  >
  <p class="flex mt-8">
    <mat-icon class="mr-2"> person_pin</mat-icon>
    <span *ngIf="!isSideBarClosed">
      {{ user.firstname | titlecase }}
      {{ user.lastname | titlecase }}
    </span>
  </p>
  <p
    routerLink="/"
    class="flex mt-8 py-3 w-[90%] rounded-md hover:bg-gray-300 cursor-pointer"
  >
    <mat-icon class="mr-2">home</mat-icon>
    <span *ngIf="!isSideBarClosed">Home</span>
  </p>
  <p
    routerLink="/admin/flights"
    routerLinkActive="activeLink"
    class="mt-8 flex py-3 w-[90%] rounded-md hover:bg-gray-300 cursor-pointer"
  >
    <mat-icon>airplanemode_active</mat-icon>
    <span *ngIf="!isSideBarClosed" class="ml-2">Flights</span>
  </p>
  <p
    routerLink="/admin/records"
    routerLinkActive="activeLink"
    class="mt-8 flex py-3 w-[90%] rounded-md hover:bg-gray-300 cursor-pointer"
  >
    <mat-icon>library_books</mat-icon>
    <span *ngIf="!isSideBarClosed" class="ml-2">Records</span>
  </p>
</aside>
