<form
  class="w-72 h-60 bg-gray-200 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
>
  <mat-icon (click)="closeTicketForm()" class="absolute right-0 cursor-pointer"
    >close</mat-icon
  >
  <div>
    <label>Class</label>
    <select>
      <option>Business</option>
      <option>Standart</option>
      <option>Econom</option>
    </select>
  </div>
  <div>
    <label>Price</label>
    <input type="number" />
  </div>
  <div>
    <label>User</label>
    <input type="text" />
  </div>
</form>
